##### Application
APP_NAME=appname

### Backend
BACKEND_PORT=8090
# Java
JDK_IMAGE=17.0.14_7-jdk-jammy
JRE_VERSION=17-jre-jammy
# Spring
SPRING_DATASOURCE_URL=jdbc:mysql://service_ou_ip:port/dbname?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=pwd
TOKEN_SIGNING_KEY=chaine_de_caracteres
# Durée du token = 20 minutes
TOKEN_DURATION=duree_en_millisecondes
MAIL_USERNAME=email_proprietaire
MAIL_PASSWORD=password_email_proprietaire

### Database
# MySQL
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=dbname
MYSQL_USERNAME=admin
MYSQL_PASSWORD=pwd
MYSQL_PORT=3306
# Adminer
ADMINER_DEFAULT_SERVER=mysql
ADMINER_PORT=8080

### Frontend
FRONTEND_PORT=4200
# NodeJs
NODE_VERSION=24.11-slim
# Angular
NG_VERSION=20.3.9